@media (max-width:1600px) {
    .container {
        width: 70%;
    }
    .right-wrapper > div {
        margin: 30px;
    }
}
@media (max-width:900px) {
    nav {
     display: none;
    }
    button {
        display: inline-block   
     }
}
@media (max-width:700px) {
    .right-wrapper > div {
       margin: 30px;
    }
    .containers {
        flex-direction: column;
    }
}